.upgradeleft {
    position: absolute;
    left: 5%;
    border-style: solid;
    border-radius: 1em;
    width: 35%;
    padding-inline: 1.25em;
    font-size: 1vw;
    margin: 3em;

}

.upgraderight {
    position: absolute;
    right: 5%;
    border-style: solid;
    border-radius: 1em;
    width: 35%;
    padding-inline: 1.25em;
    font-size: 1vw;
    margin: 3em;
}

.parent {
    position: relative;
    height: 18em
}

hr {
    border:  solid black;
    width: 100%;
}

button {
    border-radius: .625em;
    font-size: 1.5vw;
}
